.pageContainer {
  height: max-content;
  width: 97vw;
  margin: auto;
}
.pageContainer::before {
  content: "";
  background-color: #98fb98;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -2;
}
.albumContainer {
  margin: auto;
  width: 60vw;
}

.album h1 {
  text-align: center;
}
