@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.body {
  /* box-sizing: border-box; */
  /* background: linear-gradient(to right, red, yellow); */
}

.pageContainerFamily {
  width: 100vw;
  height: 95vh;
}

.inputs {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  justify-content: space-between;
}

.containerLeftRightFlex {
  width: 100vw;
  height: 95vh;
  background: linear-gradient(
    to right,
    rgb(218, 228, 213),
    rgba(7, 80, 52, 0.2)
  );
  /* url(../media/mainBackground.jfif); */
}
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Press Start 2P", cursive;
  font-weight: bolder;
  font-size: 3vh;
}

.familyCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.upndown {
  animation: upndown 0.5s normal linear;
}

@keyframes upndown {
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
