.tutorial {
  font-size: 2rem;
  background: linear-gradient(
      rgba(255, 255, 255, 0.733),
      rgba(255, 255, 255, 0.4)
    ),
    url(../media/tutorial\ backGround.jpeg);
  background-size: cover;
  position: fixed;
  height: max-content;
  width: 70vw;
  top: 5%;
  left: 10%;
  z-index: 102;
  opacity: 0;
  padding-left: 2vh;
  padding-top: 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.tutorial img {
  position: relative;
  max-height: 2.5rem;
  top: 8px;
  width: auto;
}
.active {
  opacity: 1;
  z-index: 20;
}

.disable {
  opacity: 0;
  z-index: -2;
}
