.body {
  box-sizing: border-box;
  background: linear-gradient(to right, red, yellow);
}

.pageContainer {
  width: 95vw;
  height: 95vh;
}

.inputs {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  justify-content: space-between;
}

.containerLeftRightFlex {
  width: 95vw;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.2)
    ),
    url(../media/mainBackground.jfif);
}
.intro {
  color: black;
}
.familyCards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
